<div class="all_w">
	<div class="case mbottom40 mtop60 loc">
     	<div class="h3 orange">Centerm Global Offices</div>
        <table width="100%" border="0" cellspacing="5" cellpadding="0" class="table-three mtop20">
            <tbody>
                {pc:location action="lists"} 
                <tr>
                  <th style="width:11%">Region</th>
                  <th>Location</th>
                  <th style="width:13%">Tel</th>
                  <th style="width:19%">Email</th>
                </tr>
                {loop $data $d}
                <tr>
                  <td>{php echo get_linkage($d['region'],3360);}</td>
                  <td>{$d['location']}</td>
                  <td>{$d['telephone']}</td>
                  <td><a href="mailto:{$d['email']}">{$d['email']}</a></td>
                </tr>
                {/loop}
                {/pc}
            </tbody>
        </table>
    </div>
</div>