{template "content","header"}
<!--breadcrumb-->
{template "content","breadcrumb"}
<!--breadcrumb end-->

<div class="boxbg mtop10">
    <div class="h5_16 cred">Zero Client</div>
    <table width="100%" class="table-three mtop20">
        <tbody>
            <tr>
                <th style="width:40%">Document Name</th>
                <th style="width:30%">Release Date</th>
                <th>Downloads</th>
            </tr>
            <tr>
                <td>N412 Datasheet (English)</td>
                <td>2016-04-20</td>
                <td><a href="#"></a></td>
            </tr>
            <tr>
                <td>N412 Datasheet (French)</td>
                <td>2016-04-20</td>
                <td><a href="#"></a></td>
            </tr>
            <tr>
                <td>N412 Extension User Guide</td>
                <td>2016-04-20</td>
                <td><a href="#"></a></td>
            </tr>
        </tbody>
    </table>
</div>  

<div class="boxbg mtop10">
    <div class="h5_16 cred">Cloud Client</div>
    <table width="100%" class="table-three mtop20">
        <tbody>
            <tr>
                <th style="width:40%">Document Name</th>
                <th style="width:30%">Release Date</th>
                <th>Downloads</th>
            </tr>
            <tr>
                <td>N412 Datasheet (English)</td>
                <td>2016-04-20</td>
                <td><a href="#"></a></td>
            </tr>
            <tr>
                <td>N412 Datasheet (French)</td>
                <td>2016-04-20</td>
                <td><a href="#"></a></td>
            </tr>
            <tr>
                <td>N412 Extension User Guide</td>
                <td>2016-04-20</td>
                <td><a href="#"></a></td>
            </tr>
        </tbody>
    </table>
</div>  


<div class="boxbg mtop10">
    <div class="h5_16 cred">High Performance Thin Client</div>
    <table width="100%" class="table-three mtop20">
        <tbody>
            <tr>
                <th style="width:40%">Document Name</th>
                <th style="width:30%">Release Date</th>
                <th>Downloads</th>
            </tr>
            <tr>
                <td>N412 Datasheet (English)</td>
                <td>2016-04-20</td>
                <td><a href="#"></a></td>
            </tr>
            <tr>
                <td>N412 Datasheet (French)</td>
                <td>2016-04-20</td>
                <td><a href="#"></a></td>
            </tr>
            <tr>
                <td>N412 Extension User Guide</td>
                <td>2016-04-20</td>
                <td><a href="#"></a></td>
            </tr>
        </tbody>
    </table>
</div>  

<div class="boxbg mtop10">
    <div class="h5_16 cred">All-in-one Thin Client</div>
    <table width="100%" class="table-three mtop20">
        <tbody>
            <tr>
                <th style="width:40%">Document Name</th>
                <th style="width:30%">Release Date</th>
                <th>Downloads</th>
            </tr>
            <tr>
                <td>N412 Datasheet (English)</td>
                <td>2016-04-20</td>
                <td><a href="#"></a></td>
            </tr>
            <tr>
                <td>N412 Datasheet (French)</td>
                <td>2016-04-20</td>
                <td><a href="#"></a></td>
            </tr>
            <tr>
                <td>N412 Extension User Guide</td>
                <td>2016-04-20</td>
                <td><a href="#"></a></td>
            </tr>
        </tbody>
    </table>
</div>  
<!-- content end-->
{template "content","footer"}
