{if $rel_field}
    {php $r_arr = explode('|',$rel_field);}
    {php $tmp = array();}
    {loop $r_arr $rel}
        {if $rel}
        {php $tmp[] = $rel;}
        {/if}
    {/loop}
    {if !empty($tmp)}
        {php $tmp = implode(',',$tmp);}
        {php $where = " id in ($tmp) ";}
        {pc:content action="lists" catid="7" where="$where" num="6" order="listorder desc, id desc"}
<div class="boxbg mtop10">
    <div class="h5_16 cred">Related<a href="{$category[7][url]}" style="float:right">more</a></div>
    <ul class="product_list clear">
        {php $i=0;}
        {loop $data $d}
        {php $i++;}
        <li onclick="location.href='{$d[url]}'">
            <img src="{php echo $d['thumb']?thumb($d['thumb'],75,110):(IMG_PATH.'nopic_small.gif')}" />
            <div class="gray">{$d['title']}</div>
        </li>
        {/loop}
    </ul>
</div>
        {/pc}
    {/if}
{/if}