{template "content","header"}

<link rel="stylesheet" href="{MOBILE_CSS_PATH}banner.css"/>
<script src="{MOBILE_JS_PATH}banner.js"></script>
<!--breadcrumb-->
{template "content","breadcrumb"}
<!--breadcrumb end-->
<!-- content -->
<!--banner-->
<div id="banner_box" class="box_swipe">
    <ul>
        {loop $product_images $p_img}
        <li><img src="{php echo thumb($p_img['url'],500,500)}" /></li>
        {/loop}
    </ul>
    <ol>
        {php $i=0;}
        {loop $product_images $p_img}
        {php $i++;}
        <li {if $i==1}class="on"{/if}></li>
        {/loop}
    </ol>
</div>
<script>
    $(function() {
        new Swipe($('#banner_box')[0], {
            speed: 500,
            auto: 3000,
            callback: function() {
                var lis = $(this.element).next("ol").children();
                lis.removeClass("on").eq(this.index).addClass("on");
            }
        });
    });
</script>
<!--end banner-->
<div class="boxbg">
    <h5 class="h5_18 cred">{$title}</h5>
    <p>{$description}</p>
    <button type="button" class="btn_1 btn_w100" onclick='window.open("{$category[11][url]}")'>Request more info</button>
</div>

<div class="boxbg mtop10">
    <!-- Nav tabs -->
    <ul class="nav pro-tab" role="tablist">
        <li role="presentation" class="active"><a href="#Specifications" role="tab" data-toggle="tab">Specifications</a></li>
        <li role="presentation"><a href="#Features" role="tab" data-toggle="tab">Features</a></li>
        <li role="presentation"><a href="#Download" role="tab" data-toggle="tab">Download</a></li>
    </ul>
    <!-- end Nav tabs -->
    <!-- Tab panes -->
    <div class="tab-content" style="padding:15px 0 10px 0">
        <div role="tabpanel" class="tab-pane tab-pane1 active" id="Specifications">
            {php $spec = explode(PHP_EOL,$specifications);}
                {if !empty($spec)}
            <table class="table_2" style="width:100%">
                <tbody>
                    {loop $spec $data}
                            {php $data_arr = explode('||',$data);}
                    <tr>
                        <th width="25%">{$data_arr[0]}</th>
                        <td width="75%">
                            {php $d_val = $data_arr[1];}
                            {php $d_val_arr = explode('^#^',$d_val)}
                            {loop $d_val_arr $v_data}
                            {$v_data}<br/>
                            {/loop}
                        </td>
                    </tr>
                    {/loop}      
                   
                </tbody>
            </table>
                {else}
                    {$specifications}
                {/if}
        </div>
        <div role="tabpanel" class="tab-pane tab-pane2" id="Features">
            {$content}
        </div>
        <div role="tabpanel" class="tab-pane tab-pane3" id="Download">
            <ul>
                <li>
                    <p class="h5_16 gray999">Document</p>
                    {if $relation}
                    {php $relation_arr = explode('|',$relation);}
                    {loop $relation_arr $rel}
                        {if $rel}
                        {php $tmp[] = $rel;}
                        {/if}
                    {/loop}

                    {if !empty($tmp)}
                        {php $tmp = implode(',',$tmp);}
                        {php $where = " id in ($tmp) ";}
                        {pc:content action="lists" catid="22" where="$where" num="8" moreinfo="1"}
                    <table class="table_3">
                        <tbody>
                            {loop $data $d}
                                {php $docs = json_decode($d['document'],true);}
                                {loop $docs  $doc}
                            <tr>
                                <td><a href="{$doc[fileurl]}" downlod><img src="{MOBILE_PIC_PATH}pdf.png" width="30" height="30" srcset="{MOBILE_PIC_PATH}pdf@2x.png 2x" style="vertical-align:middle;margin-right:20px">{$d['title']}</a></td>
                            </tr>
                                {/loop}
                            {/loop}
                        </tbody>
                    </table>
                        {/pc}
                    {/if}
                {else}
                No Relative Documents Here!
                {/if}
                </li>
                <li class="mtop10">
                    <p class="h5_16 gray999">Software</p>
                    {if $rel_software}
                        {php $relation_arr = explode('|',$rel_software);}
                        {php $tmp = array();}
                        {loop $relation_arr $rel}
                            {if $rel}
                            {php $tmp[] = $rel;}
                            {/if}
                        {/loop}

                        {if !empty($tmp)}
                            {php $tmp = implode(',',$tmp);}
                            {php $where = " id in ($tmp) ";}
                            {pc:content action="lists" catid="23" where="$where" num="9" moreinfo="1"}

                                <ul style='width:360px; float:left; font-weight: normal' class='mtop10'>
                                    {php $i=0;}
                                        {loop $data $d}
                                        {php $software = json_decode($d['software'],true);}                                            
                                        {loop $software  $s}
                                            {php $i++;}
                                            <li style="width:100px; text-align: center;float:left;" {if $i>3}class='mtop25'{/if}>
                                                <a href="{$s[fileurl]}" download>
                                                    <img src="{php echo thumb($d['thumb'],50,50);}" 
                                                                             width="50" height="50" srcset="{$d['thumb']} 2x">
                                                    <p style="font-weight: normal">{$d['title']}</p>
                                                </a>
                                            </li>
                                        {/loop}
                                        {/loop}
                                </ul>
                            {/pc}
                        {/if}
                    {else}
                    No Relative Documents Here!
                    {/if}                     
                </li>
                <li class="mtop10">
                    <p class="h5_16 gray999">Link</p>
                    <table  border="0" cellspacing="0" cellpadding="0" class="mtop10">
                        <tbody>
                            <tr>
                                <td><a href="javascript:void(0);" onclick='window.open("{$keylink['license_active_online'][1]}")' style="color:#ff5014; font-size:14px"><img src="{MOBILE_PIC_PATH}link.png" width="22" height="23" srcset="{MOBILE_PIC_PATH}link@2x.png 2x" style="vertical-align:middle;margin:0 15px;">License activate online</a></td>
                            </tr>
                        </tbody>
                    </table>
                </li>
            </ul>

        </div>
    </div>
    <!-- end Tab panes -->
</div>    

{php $rel_field = $rel_case; }
{template "content","case_study_rel"}

{php $rel_field = $rel_product; }
{template "content","related_products_rel"}
<!-- content end-->
{template "content","footer"}
